.container {
  width: 700px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  background-color: moccasin;
  padding: 10px;
}
.poster {
  max-width: 200px;
  max-height: 350px;
}
.infosection {
  flex-grow: 1;
  padding: 15px;
}
.stars span {
  color: #b4b4b4;
  user-select: none;
  cursor: pointer;
  font-size: 15px;
}
.stars .filled {
  color: black;
}
